# run = "tsx index.ts"
# entrypoint = "index.ts"
# hidden = [".config", "package-lock.json", "tsconfig.json"]
# onBoot = "npm install -g pnpm@8.6.3"

# run = "npm run dev"
run = "pnpm dev"
entrypoint = "index.js"
modules = ["nodejs-20:v9-20231020-a3526c9"]
hidden = [".config", "package-lock.json", ".next", ".swc"]


[packager]
language = "nodejs"
  [packager.features]
  enabledForHosting = false
  packageSearch = true
  guessImports = true

[nix]
# channel = "stable-22_11"
channel = "stable-23_05"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/npm/node_global/bin"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[languages]
  [languages.typescript]
  pattern = "**/{*.ts,*.js,*.tsx,*.jsx,*.json}"
    [languages.typescript.languageServer]
    start = "typescript-language-server --stdio"

[deployment]
run = ["tsx", "index.ts"]
deploymentTarget = "cloudrun"
ignorePorts = false
