@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    /* .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    } */
}

/* From https://github.com/rjsf-team/react-jsonschema-form/issues/3199#issuecomment-1529863595 */
@layer components {
    .schema-form {
        /* Left side is not needed due to fieldset left margin */
        @apply mr-2;
    }

    .schema-form,
    .schema-form label,
    .schema-form input,
    .schema-form textarea {
        font-size: 12px !important;
    }

    .schema-form .chakra-form-control>div {
        grid-gap: var(--chakra-space-6) !important;
    }

    .schema-form input {
        padding: 8px !important;
        height: 32px !important;
        border-radius: 0px !important;
        background-color: var(--chakra-colors-white) !important;
    }

    .schema-form textarea {
        background-color: white !important;
    }

    .schema-form .chakra-button {
        background-color: var(--chakra-colors-teal-500) !important;
        color: white !important;
        font-size: 14px !important;
        border-radius: 4px !important;
        height: 32px !important;
    }

    /* Aka sections */
    .schema-form fieldset>legend {
        /* Display block doesn't work for some reason. Does not fill parent width which is still a div, not sure why */
        @apply mb-3 pb-1 w-full border-b pt-4 text-xl font-semibold;
    }

    .schema-form fieldset>div {
        /* Offset to indicate hierarchy */
        @apply ml-3;
    }

    /* Label + component = group */
    .schema-form .form-group {
        @apply mb-2;
    }

    .schema-form label.control-label {
        @apply block mb-1 font-bold;
        font-weight: bold;
    }

    .schema-form p.field-description {
        @apply mb-1;
    }


    .schema-form textarea {
        display: block;
    }

    /* Array elements */
    .schema-form .array-item {
        /* @apply grid grid-cols-12; */
        @apply flex flex-row items-end gap-4;
    }

    .schema-form .array-item .col-xs-9 {
        /* @apply col-span-9; */
        @apply grow;
    }

    .schema-form .array-item .col-xs-3 {
        /* @apply col-span-3; */
        @apply shrink-0;
    }

    .schema-form .array-item .array-item-toolbox {
        /* mb-4 to match .form-group */
        @apply mb-4 flex items-center justify-end;
    }

    /* Icons */
    .schema-form .glyphicon {
        @apply font-normal not-italic;
    }

    .schema-form .glyphicon-remove::before {
        content: 'Remove';
    }

    .schema-form .glyphicon-arrow-up::before {
        content: 'Up';
    }

    .schema-form .glyphicon-arrow-down::before {
        content: 'Down';
    }

    .schema-form .glyphicon-plus::before {
        content: 'Add';
    }

    /* Buttons (tends to be icon buttons */
    .schema-form .btn {
        @apply rounded-md p-2 border mx-1;
    }

    .schema-form .btn-danger {
        @apply border-red-200;
    }

    .schema-form .btn-add {
        @apply border-blue-200;
    }

    .schema-form input {
        @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
    }

    /* .schema-form button[type="submit"] {
      @apply bg-primary text-primary-foreground hover:bg-primary/90;
      @apply text-primary-foreground hover:bg-primary/90;
    } */
}